<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>R.kwsk</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/drop.css">
    <link rel="stylesheet" href="css/button.css">
    
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    
    <!--React.js-->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
      
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
  </head>
  <body>
      <!-- ローディング画面 -->
      <div id="loading">
        <div class="drop"></div>
        <div class="wave"></div>
      </div>
      
      <!-- Modal -->
      <div 
        class="modal fade workModal" 
        id="workModal1" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabel1" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel1">大学トップページ</h4>
              <a href="#thirdPage" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#workModal1')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
                <div class="col-12 col-lg-5">
                  <section>
                    <h5>概要</h5>
                    <p>
                      大学のサイト<br>
                      作成ページ：トップページ、資料請求ページ<br>
                      レスポンシブデザイン: 対応<br>
                      <a
                        class="btn btn-primary btn-block my-1"
                        href="http://my.internetacademy.jp/~a31908098/university_web/index.html">架空大学サイトへ</a>
                    </p>
                  </section>
                  <section>
                    <h5>設計</h5>
                    <h6>ペルソナ:<a href="mailto:"></a></h6>
                    <p>ターゲットとする受験生のペルソナを作成。</p>
                    <h6>デザインカンプ:</h6>
                    <p>LACTH法を取り入れ、情報をカテゴリー別・階層別等に分類し、サイト訪問者が最短で情報取得できるように設計しました。</p>
                  </section>
                  <section>
                    <h5>苦労した点</h5>
                    <ul class="list-group mb-2">
                      <li class="list-group-item">初めてのweb制作で、コンバージョンを意識したデザイン構築に苦心しました。</li>
                      <li class="list-group-item">わかりやすいだけでなく、テーマカラーを意識した色使い、情報の配置など、何度もレビューをしてもらいデザイン構成しました。</li>
                      <li class="list-group-item">コーディングでは、バナー画像がリンクであること示すhover時の処理で、CSSの擬似要素 after, beforeの扱いに苦労しました。</li>
                      <li class="list-group-item">また、資料請求ページのフォームでJavaScriptによる未・誤入力の監視処理に力を入れました。</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用言語</h5>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>javascript</li>
                      <li>JQuery</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用したツール</h5>
                    <ul>
                      <li>Photoshop</li>
                      <li>Dreamweaver</li>
                    </ul>
                  </section>
                </div>
                <div class="col-12 col-lg-7 bg-secondary pb-5">
                  <div id="work1">
                    <div class="d-flex justify-content-around my-3">
                      <div class="frame" v-for="(doc, index ) in docs" v-bind:key="index" v-on:click="dispPicture(index)">
                        <span>{{ doc.caption }}</span>
                        <img v-bind:src="doc.pictuer">
                      </div>
                    </div>
                    <div class="referense p-0">
                      <img v-bind:src="docs[flag].pictuer">
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#thirdPage" class="btn btn-secondary" onclick="closeModal('#workModal1')">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div 
        class="modal fade workModal" 
        id="workModal2" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabel2" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel2">Saxphoneメーカーサイト</h4>
              <a href="#thirdPage" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#workModal2')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
              <div class="col-12 col-lg-5">
                  <section>
                    <h5>概要</h5>
                    <p>
                      saxphoneメーカーのサイトです。<br>
                      作成ページ：トップページ<br>
                      レスポンシブデザイン: 非対応<br>
                      <a
                        class="btn btn-primary btn-block my-1"
                        href="http://my.internetacademy.jp/~a31908098/saxophone_web/index.html">Saxphoneのページへ</a>
                    </p>
                  </section>
                  <section>
                    <h5>設計</h5>
                    <h6>デザインカンプ</h6>
                    <p>
                      高級感があり、かつサックス初心者にも興味を持ってもらえるように、メインビジュアルを大きく、ロード画面を導入して期待感を膨らませるデザインにしました。
                    </p>
                  </section>
                  <section>
                    <h5>苦労した点</h5>
                    <ul class="list-group mb-2">
                      <li class="list-group-item">サックスフォーンのサイトを作成した理由は、フリー素材の画像が多く集まったためです。<br>
                        私自身が興味ある分野ではない分、サイト訪問者にどう魅力を伝えるか、苦心しました。</li>
                      <li class="list-group-item">訪問者に楽しんでサイトを散策してもらえるよう、多くのアニメーションを取り入れたため、CSS、JavaScript、jQueryのコーディングに力を入れました。</li>
                      <li class="list-group-item">スパゲッティコードにならないようにコーディングの整理にも注意しました。</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用言語</h5>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>javascript</li>
                      <li>JQuery</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用したツール</h5>
                    <ul>
                      <li>Photoshop</li>
                      <li>Dreamweaver</li>
                    </ul>
                  </section>
                </div>
              <div class="col-12 col-lg-7 col-12 col-lg-7 bg-secondary pb-5">
                  <div id="work2">
                    <div class="d-flex justify-content-around my-3">
                      <div class="frame" v-for="(doc, index ) in docs" v-bind:key="index" v-on:click="dispPicture(index)">
                        <span>{{ doc.caption }}</span>
                        <img v-bind:src="doc.pictuer">
                      </div>
                    </div>
                    <div class="referense p-0">
                      <img v-bind:src="docs[flag].pictuer">
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#thirdPage" class="btn btn-secondary" onclick="closeModal('#workModal2')">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div 
        class="modal fade workModal" 
        id="workModal3" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabel3" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel3">Lyrics&nbsp;歌詞の制作・投稿Webアプリ</h4>
              <a href="#thirdPage" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#workModal3')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
              
                <div class="col-12 col-lg-5">
                  <section>
                    <h5>概要</h5>
                    <p>Twitterをモデルにした。歌詞の投稿Webアプリケーションです。</p>
                      <h6>機能：</h6>
                      <ul>
                        <li>ユーザー登録・編集機能</li>
                        <li>歌詞投稿・編集・削除機能</li>
                        <li>ユーザーフォロー機能</li>
                        <li>歌詞のお気に入り登録機能</li>
                        <li>ダイレクトメッセージ機能</li>
                      </ul>
                      <a
                        class="btn btn-primary btn-block my-1"
                        href="http://lyrics-rkwsk1914.herokuapp.com/">Lyrics へ</a>
                    </p>
                  </section>
                  <section>
                    <h5>設計</h5>
                    <p>
                      データベース図：画像を参照<br>
                      サイトマップ：画像を参照<br>
                      ワークフレーム: 画像を参照<br>
                    </p>
                  </section>
                  <section>
                    <h5>苦労した点</h5>
                    <ul class="list-group mb-2">
                      <li class="list-group-item">Rails + carrierwave + S3を使って、ユーザーの画像設定処理に苦心しました。</li>
                      <li class="list-group-item">AWSでIAMからアクセスキーを取得し、環境変数を使って、Rails内でS3のバケットとつなげるのに何度も調べて実装しました。</li>
                      <li class="list-group-item">機能追加とともにModelの数も増え、多 対 多のリレーションも一つ一つ整理しながら作成しました。</li>
                      <li class="list-group-item">Vue.js習得後、サインアップ時にこのアプリのRailsにVue.jsを導入し、リアルタイムバリデーションを実装しました。</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用言語</h5>
                    <ul>
                      <li>Rub on Rails</li>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>javascript</li>
                      <li>JQuery</li>
                      <li>Bootstrap</li>
                      <li>Vue.js</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用したツール</h5>
                    <ul>
                      <li>AWS Cloud9</li>
                      <li>AWS S3</li>
                      <li>Heroku</li>
                      <li>GitHub</li>
                    </ul>
                  </section>
                </div>
                <div class="col-12 col-lg-7 bg-secondary pb-5">
                  <div id="work3">
                    <div class="d-flex justify-content-around my-3">
                      <div class="frame" v-for="(doc, index ) in docs" v-bind:key="index" v-on:click="dispPicture(index)">
                        <span>{{ doc.caption }}</span>
                        <img v-bind:src="doc.pictuer">
                      </div>
                    </div>
                    <div class="referense p-0">
                      <img v-bind:src="docs[flag].pictuer">
                    </div>
                  </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <a href="#thirdPage" class="btn btn-secondary" onclick="closeModal('#workModal3')">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div 
        class="modal fade workModal" 
        id="workModal4" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabel4" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel4">Paycard クレジットカード情報入力フォーム</h4>
              <a href="#thirdPage" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#workModal4')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
                <div class="col-12 col-lg-5">
                  <section>
                    <h5>概要</h5>
                    <p>
                      クレジットカード情報入力フォームです。<br>
                      フロントエンドスキルVue.jsの学習で参考サイトを見て作成しました。<br>
                      作成ページ：フォーム画面<br>
                      <a
                        class="btn btn-primary btn-block my-1"
                        href="http://rkwsk1914.sakura.ne.jp/Paycard-rkwsk/">Paycardへ</a>
                    </p>
                  </section>
                  <section>
                    <h5>苦労した点</h5>
                    <ul class="list-group mb-2">
                      <li class="list-group-item">Vue.jsでのイベント処理(v-on)で、複数の処理が重なるため、一つ一つ整理しながら作成しました。</li>
                      <li class="list-group-item">自分のオリジナル機能として、カードデザインを選択出来るようにVueに追加しました。</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用言語</h5>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>javascript</li>
                      <li>JQuery</li>
                      <li>Vue.js</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用したツール</h5>
                    <ul>
                      <li>AWS Cloud9</li>
                    </ul>
                  </section>
                </div>
                <div class="col-12 col-lg-7 bg-secondary pb-5">
                  <div id="work4">
                    <div class="d-flex justify-content-around my-3">
                      <div class="frame" v-for="(doc, index ) in docs" v-bind:key="index" v-on:click="dispPicture(index)">
                        <span>{{ doc.caption }}</span>
                        <img v-bind:src="doc.pictuer">
                      </div>
                    </div>
                    <div class="referense p-0">
                      <img v-bind:src="docs[flag].pictuer">
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#thirdPage" class="btn btn-secondary" onclick="closeModal('#workModal4')">Close</a>
            </div>
          </div>
        </div>
      </div>
      <div 
        class="modal fade workModal" 
        id="workModal5" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabel5" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel5">Paycard クレジットカード情報入力フォーム</h4>
              <a href="#thirdPage" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#workModal5')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
                <div class="col-12 col-lg-5">
                  <section>
                    <h5>概要</h5>
                    <p>
                      クレジットカード情報入力フォームです。<br>
                      フロントエンドスキルVue.jsの学習で参考サイトを見て作成しました。<br>
                      作成ページ：フォーム画面<br>
                      <a
                        class="btn btn-primary btn-block my-1"
                        href="http://rkwsk1914.sakura.ne.jp/Paycard-rkwsk/">Paycardへ</a>
                    </p>
                  </section>
                  <section>
                    <h5>苦労した点</h5>
                    <ul class="list-group mb-2">
                      <li class="list-group-item">Vue.jsでのイベント処理(v-on)で、複数の処理が重なるため、一つ一つ整理しながら作成しました。</li>
                      <li class="list-group-item">自分のオリジナル機能として、カードデザインを選択出来るようにVueに追加しました。</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用言語</h5>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>javascript</li>
                      <li>JQuery</li>
                      <li>Vue.js</li>
                    </ul>
                  </section>
                  <section>
                    <h5>使用したツール</h5>
                    <ul>
                      <li>AWS Cloud9</li>
                    </ul>
                  </section>
                </div>
                <div class="col-12 col-lg-7 bg-secondary pb-5">
                  <div id="work4">
                    <div class="d-flex justify-content-around my-3">
                      <div class="frame" v-for="(doc, index ) in docs" v-bind:key="index" v-on:click="dispPicture(index)">
                        <span>{{ doc.caption }}</span>
                        <img v-bind:src="doc.pictuer">
                      </div>
                    </div>
                    <div class="referense p-0">
                      <img v-bind:src="docs[flag].pictuer">
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#thirdPage" class="btn btn-secondary" onclick="closeModal('#workModal5')">Close</a>
            </div>
          </div>
        </div>
      </div>
        
      <div 
        class="modal fade" 
        id="skilldetail" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="ModalLabelSkill" 
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="ModalLabelSkill">スキルについて</h4>
              <a href="#secondPage/slide3" class="btn btn-outline-secondary border-0 text-decoration-none" onclick="closeModal('#skilldetail')">
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
            <div class="row modal-body d-flex justify-content-start">
              
                <div class="col-lg-4">
                  <h5 class="bg-warning">レーダーチャートの値について</h5>
                  <p>私のスキルの習熟度を5段階で表しています。</p>
                  <table class="table table-striped bg-white border">
                      <tr>
                        <td>5.0</td>
                        <td>人に教えられる</td>
                      </tr>
                      <tr>
                        <td>4.0</td>
                        <td>自力で使用できる</td>
                      </tr>
                      <tr>
                        <td>3.0</td>
                        <td>調べながら自力で出来る</td>
                      </tr>
                      <tr>
                        <td>2.0</td>
                        <td>理解している</td>
                      </tr>
                      <tr>
                        <td>1.0</td>
                        <td>勉強中</td>
                      </tr>
                    </table>
                </div>
                <div class="col-lg-8">
                  <section>
                    <h5>Front-End/フロントエンドスキルについて</h5>
                    <p>以下のコーディングスキルを習得しています。</p>
                    <ul>
                      <li>WebAPIの導入、JQuery、React.jsでのAjax処理</li>
                      <li>Vue.js, React.jsでのコンポーネントの実装</li>
                      <li>UI/UXデザイン、リアルタイムバリデーション実装</li>
                      <li>Bootstrapの使用</li>
                      <li>レスポンシブWebデザイン(メディアクエリ、viewport)の実装</li>
                    </ul>
                  </section>
                  <section>
                    <h5>Back-End/バックエンドスキルについて</h5>
                    <p>以下のコーディングスキルを習得しています。</p>
                    <ul>
                      <li>Rails + carrierwave + AWS S3を使った画像アップロード処理</li>
                      <li>RailsAPIの実装</li>
                      <li>Ruby on RailsによるCRUDの実装</li>
                      <li>PHP + MySQLのサーバーサイド処理</li>
                    </ul>
                    <p>その他、VBAによる業務ツール開発経験があり、Excel-VBAにも精通しています。</p>
                  </section>
                  <section>
                    <h5>DevOps/使用してきた開発ツール</h5>
                    <p>以下の開発ツールを使用できます。</p>
                    <ul>
                      <li>GitHubによるバージョン管理</li>
                      <li>Dreamweaver、AWS Cloud9のコードエディタ</li>
                      <li>Heroku、PostgreSQLでアプリケーション公開</li>
                      <li>AWS IAM, S3の使用</li>
                      <li>Photoshop, Illustrator, AdobeXDによるデザインカンプ、ロゴ作成	</li>
                    </ul>
                    <p>2020年6月現在、Visual Studio Codeを使って、Node.js, Gatsby.js, Typescriptの独学を進めています。</p>
                  </section>
                </div>
              
            </div>
            <div class="modal-footer">
              <a href="#secondPage/slide3" class="btn btn-secondary" onclick="closeModal('#skilldetail')">Close</a>
            </div>
          </div>
        </div>
      </div>
      
      
      <nav class="navbar navbar-expand-sm navbar-light bg-light px-auto px-sm-5">
            <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
            <a href="#firstPage" class="navbar-brand">R.Kawasaki</a>
            
            <!-- 横幅が狭い時に出るハンバーガーボタン -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- メニュー項目 -->
            <div class="collapse navbar-collapse" id="nav-bar">
                <ul class="navbar-nav">
                    <li data-menuanchor="firstPage" class="nav-item active"><a href="#firstPage" class="nav-link text-right">トップ</a></li>
                    
                    <li data-menuanchor="secondPage" class="nav-item dropdown">
                        <a href="#secondPage" class="nav-link dropdown-toggle text-right" data-toggle="dropdown">このサイトについて</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-right text-sm-left" href="#secondPage/slide1">このサイトについて</a>
                            <a class="dropdown-item text-right text-sm-left" href="#secondPage/slide2">自己紹介</a>
                            <a class="dropdown-item text-right text-sm-left" href="#secondPage/slide3">スキル</a>
                            <a class="dropdown-item text-right text-sm-left" href="#secondPage/slide4">プロフィール</a>
                        </div>
                    </li>
                    <li data-menuanchor="thirdPage" class="nav-item active"><a href="#thirdPage" class="nav-link text-right">ポートフォリオ</a></li>
                    <li data-menuanchor="fourthPage" class="nav-item active"><a href="#fourthPage" class="nav-link text-right">お問い合わせ</a></li>
                </ul>
            </div>
        </nav>
      
      <div id="fullpage">
        <section class="section p-0">
          <div class="container">
            <div class="row">
              <h2 class="col-11 mx-auto col-sm-12 text-center my-5">R.Kawasaki Laboratory</h2>
              <div class="col-10 text-center mx-auto wrapper h-50">
                <div class="d-flex justify-content-around">
                  <a class="button text-decoration-none" href="#thirdPage"><span class="bg">Works</span></a>
                  <a class="button text-decoration-none" href="#secondPage/slide2"><span class="bg">About me</span></a>
                </div>
                <div class="d-flex justify-content-center my-3">
                  <a class="btn btn-block col-5 col-sm-3 btn-outline-light" href="https://github.com/rkwsk1914">
                    <i class="fab fa-github"></i>
                    &nbsp;Github
                  </a>
                </div>
              </div>
            </div>
          </div>
      	</section>
      	<section class="section p-0">
          <section class="slide" data-anchor="slide1">
            <div class="container">
            <div class="row">
              <h2 class="col-12 text-center">Aoubt this site</h2>
              <div class="col-12 col-md-10 mx-auto wrapper">
                <p class="col-10 text-center col-md-12 mx-auto d-none d-sm-block">
                  ここはWebエンジニアKawasakiのポートフォリオサイトです。<br>
                  これまでに手がけた制作物、身につけたスキルをまとめています。<br>
                  どうぞごゆるりとサイト内を散策してください。<br>
                </p>
                <p class="col-10 text-center col-md-12 mx-auto d-sm-none">
                  ここはWebエンジニアKawasakiの<br>
                  ポートフォリオサイトです。<br>
                  これまでに手がけた制作物、<br>
                  習得したスキルをまとめています。<br>
                  どうぞごゆるりとサイト内を<br>
                  散策してください。<br>
                </p>
                <div class="col-12 d-flex justify-content-center">
                    <a class="button text-decoration-none" href="#secondPage/slide2"><span class="bg">About me</span></a>
                    
                    <a class="button text-decoration-none" href="#secondPage/slide3"><span class="bg">Skills</span></a>
                    
                    <a class="button text-decoration-none" href="#secondPage/slide4"><span class="bg">Profile</span></a>
                </div>
              </div>
            </div>
          </div>
          </section>
        	<section class="slide" data-anchor="slide2">
        	  <div class="container">
            <div class="row">
              <div class="row col-11 mx-auto wrapper d-flex justify-contnt-around">
                <h2 class="col-12 text-center">About me</h2>
                <div class="col-5 d-sm-block d-none">
                  <img src="imgs/Kawasaki.JPG" class="mr-5" alt="..." id="myimage">
                </div>
                <div class="col-12 col-sm-7">
                  <h4 class="mt-0">RYO KAWASAKI</h4>
                  <p class="m-0" style="font-size: 0.825em">
                    川﨑　亮(かわさき　りょう)<br>
                    1996年生まれ<br>
                    <br>
                    2019年　中央大学経済学部卒業<br>
                    2019年　ソフトウェア会社で車載システム開発部に技術職で就職<br>
                    2020年　WEB制作のスキルを習得し、WEBエンジニアとしても活動<br>
                    <br>
                    【使用言語】<br>
                    HTML, CSS, javascript, JQuery, Vue.js, Bootstrap,<br>
                    Ruby, Ruby on Rails, PHP, Excel-VBA, C言語, Java<br>
                  </p>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <a class="button text-decoration-none" href="#secondPage/slide4"><span class="bg">Profile</span></a>
                <a class="button text-decoration-none" href="#secondPage/slide3"><span class="bg">Skills</span></a>
              </div>
            </div>
          </div>
        	</section>
        	<section class="slide" data-anchor="slide3">
        	  <div class="container">
            <div class="row d-flex justify-content-center">
              <h2 class="col-12 text-center m-0 mt-1">Skills</h2>
              <div class="col-12 col-md-10 mx-auto row d-md-flex justify-content-around wrapper d-none p-2 bg-light">
                <div class="col-4 chart-container p-0">
                    <canvas id="Chart1" width="100" height="80"></canvas>
                </div>
                <div class="col-4 chart-container p-0">
                    <canvas id="Chart2" width="100" height="80"></canvas>
                </div>
                <div class="col-4 chart-container p-0">
                    <canvas id="Chart3" width="100" height="80"></canvas>
                </div>
              </div>
              <div class="wrapper col-12 mx-auto row d-md-none d-block" id="skil">
                <div class="col-12 d-flex justify-content-around p-0">
                  <a class="button chartbtn text-decoration-none" v-on:click="selectCahrt('ChartAlt1')"><span class="bg">Front-end</span></a>
                  <a class="button chartbtn text-decoration-none" v-on:click="selectCahrt('ChartAlt2')"><span class="bg">Back-end</span></a>
                  <a class="button chartbtn text-decoration-none" v-on:click="selectCahrt('ChartAlt3')"><span class="bg">Devops</span></a>
                </div>
                <div class="col-8 mx-auto chart-container p-1 bg-light">
                    <canvas id="ChartAlt1" class="" width="100" height="100"></canvas>
                    <canvas id="ChartAlt2" class="d-none" width="100" height="100"></canvas>
                    <canvas id="ChartAlt3" class="d-none" width="100" height="100"></canvas>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-center">
                    <a class="button text-decoration-none" href="#secondPage/slide2"><span class="bg">About me</span></a>
                    <a class="button skilldetail text-decoration-none" data-toggle="modal" data-target="#skilldetail">
                      <span class="bg" style="font-size: 0.7em;">スキルの詳細</span>
                    </a>
                    <a class="button text-decoration-none" href="#secondPage/slide4"><span class="bg">Profile</span></a>
                </div>
            </div>
          </div>
        	</section>
        	<section class="slide" data-anchor="slide4">
        	  <div class="container">
            <div class="row">
              <h2 class="col-12 text-center m-0 mb-sm-3">Profile</h2>
              <div class="col-11 col-sm-10 mx-auto wrapper">
                <table class="table table-hover" id="profile">
                  <tr>
                    <th class="p-0 p-sm-2">2019.03</th><td class="p-0 p-sm-1">大学で米国短期留学、イタリア単独周遊を経験し卒業</td>
                  </tr>
                  <tr>
                    <th class="p-0 p-sm-1">2019.04</th><td class="p-0 p-sm-1">車載システム組み込み開発のSEとして社会人デビュー</td>
                  </tr>
                  <tr>
                    <th class="p-0 p-sm-1">2019.09</th><td class="p-0 p-sm-1">エンジニアの活躍の場を広げたいと思いインターネットアカデミーを受講<br>Web制作に魅力を感じてwebエンジニアを目指す</td>
                  </tr>
                  <tr>
                    <th class="p-0 p-sm-1">2019.11</th><td class="p-0 p-sm-1">社内業務用のフォルダアクセス管理ツール開発プロジェクトでプロジェクトリーダーを担当<br>要件定義・進捗管理・コーディングを遂行</td>
                  </tr>
                  <tr>
                    <th class="p-0 p-sm-1">2020.03</th><td class="p-0 p-sm-1">よりスキルを付けたいと思いTechAcademyでサーバーサイド技術、フロントエンド技術を習得</td>
                  </tr>
                </table>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <a class="button text-decoration-none my-0" href="#secondPage/slide3"><span class="bg">Skills</span></a>
                <a class="button text-decoration-none my-0" href="#secondPage/slide2"><span class="bg">About me</span></a>
              </div>
            </div>
          </div>
        	</section>      	  
      	</section>
      	<section class="section p-0">
      	  <section class="slide" data-anchor="slide1"><div class="container">
            <div class="row d-flex justify-content-center" >
              <h2 class="col-12 text-center m-2 mt-5 m-sm-5">Work</h2>
              <div class="col-10 col-sm-12 text-center mx-auto row d-flex justify-content-around wrapper">
                  <!-- Button trigger modal -->
                  <a 
                    class="work text-decoration-none m-sm-3" 
                    data-toggle="modal"
                    data-target="#workModal1"
                    style="background-image: url(imgs/work1.png);">
                    <span class="bg"></span>
                  </a>
                  
                  <!-- Button trigger modal -->
                  <a 
                    class="work text-decoration-none m-sm-3" 
                    data-toggle="modal"
                    data-target="#workModal2"
                    style="background-image: url(imgs/work2.png);">
                    <span class="bg"></span>
                  </a>
                  
                  <!-- Button trigger modal -->
                  <a 
                    class="work text-decoration-none m-sm-3" 
                    data-toggle="modal"
                    data-target="#workModal3"
                    style="background-image: url(imgs/work3.png);">
                    <span class="bg"></span>
                  </a>
                  
                  <!-- Button trigger modal -->
                  <a 
                    class="work text-decoration-none m-sm-3" 
                    data-toggle="modal"
                    data-target="#workModal4"
                    style="background-image: url(imgs/work4.png);">
                    <span class="bg"></span>
                  </a>
              </div>
              <div class="d-flex justify-content-center col-12 m-3">
                <a class="btn btn-block btn-outline-light col-3" href="#thirdPage/slide2">Next →</a>
              </div>
            </div>
          </div></section>
      	  <section class="slide" data-anchor="slide2">
      	    <div class="row d-flex justify-content-center" >
      	      <h2 class="col-12 text-center m-2 mt-5 m-sm-5">Work</h2>
      	    </div>
      	  </section>
      	</section>
        <section class="section p-0 text-white">
          <div class="container" id="thelastpage">
            <div class="row d-flex justify-content-center">
              <h2 class="col-12 text-center mt-sm-5">Contact me</h2>
              <div class="col-10 col-sm-12 text-center mx-auto wrapper p-0">
                  <p class="col-12 mb-sm-4 mb-0 mx-auto" id="thankmessage">
                    最後までご覧いただきありがとうございました。<br>
                    もしこのサイトや私について何かコメントがありましたら、下記フォームをご利用ください。
                  </p>
                  <!--<form class="col-11 mx-auto">
<div class="alert nonalert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
                    <div class="form-group text-left row mb-0 mb-sm-3">
                      <label class="col-12 col-sm-2 col-form-label text-sm-right m-0" for="name">Your name</label>
                      <input type="text" class="form-control col-12 col-sm-10" name="name" id="name" placeholder="your name" maxlenght="30">
                    </div>
                    <div class="form-group text-left row mb-0 mb-sm-3">
                      <label class="col-12 col-sm-2 col-form-label text-sm-right m-0" for="email">Email</label>
                      <input type="email" class="form-control col-12 col-sm-10" name="email" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group text-left row mb-0 mb-sm-3">
                      <label class="col-12 col-sm-2 col-form-label-sm text-sm-right" for="message">Message</label>
                      <textarea class="form-control col-12 col-sm-10" name="message" id="message" rows="3"></textarea>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <div class="cl-12 col-sm-4 my-3">
                            <button type="submit" class="btn btn-block btn-primary" id="sentemail">送信</button>
                        </div>
                    </div>
                  </form>-->
                  <div id="mail"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    
    <script src="js/vuefile.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
    <script src="js/vendors/jquery.easings.min.js"></script>
    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <script src="js/vendors/scrolloverflow.min.js"></script>
    <script src="js/jquery.fullPage.js"></script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
    <!-- Charts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    
    <!-- Gmail Api -->
    <!--<script src="https://apis.google.com/js/client.js?onload=onLoadCallbackFunction"></script>-->
    
    <!-- smtpjs -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    
    <!--reactスクリプト。type指定忘れずに-->
    <script type="text/babel" src="js/mail.js"></script>
    
    <script src="js/charts.js"></script>
    <script src="js/fullPageInit.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>